<body style="font-size:20px;color:white;">
<br>
<br><br>

Ruby has an active ecosystem built around it, one that is concerned about the tools used by everyone in it. This is fueled by the love members of the community have for their favorite language. Because Ruby and Rails have such great communities, many projects and tools have been created to solve common problems. One of the most common issues is content management. 
<br><br>
Platypus-CMS is an advanced and dynamic Content Management System based on Ruby on Rails which is an alternative to Wordpress in Ruby on Rails. This CMS can be adapted to any kind of project without programming and giving users more time for the content instead of programming.
<br><br>
Platypus-CMS is based on Ruby on Rails, which means your project can be scaled enormously. Platypus also has a lot of perks like allowing users to manage lots of websites at once, having tons of built-in plugins, being SEO friendly, and allowing drag and drop functionality, ancestry, Version control system, etc.
</body>

